.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 224px;
    grid-gap: 0px;
    justify-content: center;
    padding: 0 ;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
 
  }

.gallery-image{
    width: 360px;
    height: 200px;
}
